.page-container {
    width: 100%;
    height: 100%;
}

.heading-text {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-shadow: 0 0 30px rgba(0, 0, 0, .8);
  color: ghostwhite;
  font-size: 2.8em;
  padding: 0;
  margin: 0 0;
}
